<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AgriSoft</display-name>
  <welcome-file-list>
    <welcome-file>/jsp/login.jsp</welcome-file> 
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>PurchaseReturnBean</display-name>
    <servlet-name>PurchaseReturnBean</servlet-name>
    <servlet-class>com.Fertilizer.helper.PurchaseReturnBean</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PurchaseReturnBean</servlet-name>
    <url-pattern>/PurchaseReturnBean</url-pattern>
  </servlet-mapping>
</web-app>